.news1, .new2, .news3, .news4{
  font-family:monospace;
  font-size: 100px;
  font-style: italic;
  color: powderblue;
  background-color: orange;
}

.news1, .news2, .news3, .news4{
  border:
  border-radius: 10px;
  box-shadow
}


.s1 {
  font-family: monospace;
  font-size: 100px;
  font-size: italic;
  color: powderblue;
  background-color: orange;
}

.s2 {
  font-family: monospace;
  font-size: 100px;
  font-size: italic;
  color: powderblue;
  background-color: orange;

  border: 12px solid hotpink;
  border-radius: 100px;
  box-shawdow: 10px 12px 10px lightblue;

  width: 50%
  height:300px;

  margin: 10% 10px 30px 4%;
  padding: 42px;
}

.s3 {
  font-family: monospace;
  font-size: 100px;
  font-size: italic;
  color: powderblue;
  background-color: orange;

  border: 12px solid hotpink;
  border-radius: 100px;
  box-shawdow: 10px 12px 10px lightblue;

  width: 50%
  height:300px;

  margin: 10% 10px 30px 4%;
  padding: 42px;
  filter: grayscale(0.5);
  filter: blur(3px);

  opacity: 0.5;
  float: left;

}


.s4 {}




body {
  /* background-color: purple */
}

.holidayStyle, h1, #newstyle {
  color:orange;
  background-color:lightblue;
  font-size:100px;
  border: 10px dashed hotpink;
  width:50%;
}

/* Crtl slash */

.newcolor{
  color:red;
}

.sstyle{
font-size:80px;
height:100px;
color:red;
background-color:lightgreen;
font-family:arial;
}

.spring {
  font-size: 120px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 10px 12px 13px orange;

  color: violet
  background-color: lightgreen;
  border: 8px solid orange;
  /* padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px; */

  padding:100px 10px 100px 30px;

  margin: 10% 30%;
}
